/*---- FORM --------------------*/
#form {
  padding-bottom: 2em;
  background-color: #ed8f65;
}

.form-container {
  font-family: "opensans-bold", sans-serif;
  letter-spacing: 1px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  width: 90%;
  max-width: 600px;
  padding: 1em 0.5em;
  border-radius: 5px;
  box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 766px) {
  .form-container {
    margin-right: 1em;
    margin-left: 1em;
  }
}

form {
  width: 100%;
}
label {
  width: 100%;
}
.form-button {
  border-radius: 5px;
  letter-spacing: 2px;
  padding: 5px 20px;
  background-color: #78d1cc;
  border-color: #78d1cc;
  color: #054a7f;
  font-weight: bold;
  text-transform: lowercase;
}
.form-button:hover {
  transform: scale(1.1);
  background-color: #054a7f;
  border-color: #054a7f;
  color: #2b2b2b;
}

.input-field {
  border-radius: 5px;
  width: 100%;
  padding: 8px;
  background-color: #e4e5ed;
  margin-top: 4px;
  border-color: #054a7f;
  border-width: thin;
}
.input-field:focus {
  outline-color: #ed8f65;
}

.message {
  border-color: #054a7f;
  border-width: thin;
  resize: none;
  border-radius: 5px;
  height: 5em;
  width: 100%;
  background-color: #e4e5ed;
  margin-top: 4px;
}
.message:focus {
  outline-color: #ed8f65;
}

#success-response {
  color: #2b2b2b;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}
#error-response {
  color: #2b2b2b;
  text-align: center;
  padding: 5px;
  margin: 0 auto;
  border-radius: 5px;
}
