/*---- HOME --------------------- */

#home .row {
  padding-top: 20px;
}

#home .rw-sentence {
  color: #2b2b2b;
  margin: 6em auto auto;
  text-align: left;

  /*text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);*/
}

#home .rw-sentence div {
  color: #2b2b2b;
  font-size: 200%;
  font-weight: normal;
}

#home .rw-words {
  display: inline-block;
  text-indent: 0px;
}

#home .rw-words span {
  position: absolute;
  top: 1.5em;
  left: 0.2em;
  opacity: 0;
  overflow: hidden;
  width: 100%;
  color: #2b2b2b;
}

#home .rw-words-1 span {
  animation: rotateWordsFirst 12s linear infinite 0s;
}

#home .rw-words span:nth-child(2) {
  animation-delay: 4s;
  color: #2b2b2b;
}
#home .rw-words span:nth-child(3) {
  animation-delay: 8s;
  color: #2b2b2b;
}

@keyframes rotateWordsFirst {
  0% {
    opacity: 1;
    animation-timing-function: ease-in;
    height: 0px;
  }
  10% {
    opacity: 1;
    height: 80px;
  }
  20% {
    opacity: 1;
    height: 80px;
  }
  27% {
    opacity: 0;
    height: 80px;
  }

  100% {
    opacity: 0;
  }
}

#home .holder {
  border-radius: 4px;
}

#home .landing-img {
  max-width: 120%;
  height: auto;
}
@media screen and (max-width: 766px) {
  #home .landing-img {
    max-width: 100%;
  }
}

#home .teal-back {
  background-color: #78d1cc;
}

@media screen and (max-width: 800px) {
  #home .particles-div {
    display: none;
  }
}

#home .orange-back {
  background-color: #ed8f65;
}

#home .Typewriter__wrapper {
  font-size: 0.5em !important;
  color: #2b2b2b !important;
  font-weight: 500 !important;
}
#home .Typewriter__cursor {
  font-size: 0.6em !important;
  color: #2b2b2b !important;
}

@media (max-width: 767px) {
  #home .Typewriter__wrapper {
    font-size: 0.3em !important;
    font-weight: 500 !important;
    position: absolute !important;
  }
  #home .Typewriter__cursor {
    display: none !important;
  }
}

/*---- ABOUT --------------------- */

#about {
  background-color: #054a7f;

  color: #fff;
  text-align: center;
}
#about h4 {
  font-size: 20px;
}

#about .about-card {
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 25%;
  color: #2b2b2b;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 10px;
  text-align: left;
  position: relative;
}

#about img {
  border-radius: 5px;
  align-items: center;
}

#about .row {
  padding-left: 10px;
  padding-right: 10px;
}

/*---- POSTS --------------------- */

#posts h1 {
  color: #2b2b2b;
}

#posts p {
  padding-left: 5px;
  color: #2b2b2b;
}

#posts img {
  width: 80%;
  margin-left: 6em;
}
