#home .row{
  padding-top: 20px;
}


#about {
  background-color: #2b2b2b;
  padding-bottom: 20px;
}
#about{
  color: #fff;
  text-align: center;
}

#posts h1{
  color: #2b2b2b;
}

#posts p{
  padding-left: 5px;
  color: #2b2b2b;
}

#footer a{
  color: #fff;
  padding: 15px;
  font-size: 40px;
}

#footer a:hover{
  color: #ddd;
}
