#projects2 .row {
  width: 80%;
  margin: auto;
}

.project-card {
  background-image: linear-gradient(#fff, #fff, #78d1cc);
  border-radius: 5px;
  min-height: 500px;
  box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.3);
}
.project-card:hover {
  transform: scale(1.05);
}

h1 {
  text-align: center;
  font-family: "opensans-bold", sans-serif;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 1px;
  padding-top: 5px;
  color: #2b2b2b;
}

img {
  object-fit: contain;
  max-width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.project-description {
  padding: 15px;
  object-fit: contain;
}
.project-description p {
  font-size: 0.8em;
  text-align: center;
}

.footer-container {
  align-items: center;
  justify-content: center;
}
.row {
  padding-top: 0px;
}

.link-col {
  width: 50%;
}
.tech-col {
  width: 50%;
  text-align: right;
  vertical-align: middle;
}

button {
  padding: 5px 10px;

  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.links {
  text-align: center;
  padding-top: 10px;
}
.links i {
  font-size: 2em;
  color: #fff;
}

.technologies {
  color: #2b2b2b;
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.tech-list {
  color: #2b2b2b;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1rem;

  list-style: none;
  justify-content: center;
  margin-left: -40px;
}
