/*---- NAV --------------------- */

#nav {
  color: #054a7f;
  font-size: 1.2rem;
  background-color: #edbf65;
}
#nav a {
  color: #2b2b2b;
}

#nav .navbar-brand {
  font-family: "opensans-bold", sans-serif;
  font-size: 1.2em;
  letter-spacing: 2px;
  text-transform: lowercase;
  font-weight: bolder;
}

#nav .nav-item {
  padding: 10px 10px 10px;
}

#nav .nav-item:hover {
  background-color: #78d1cc;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

#nav i {
  padding-right: 4px;
  padding-left: 4px;
}

#nav .navlinks {
  margin: 0;
}

.navbar-toggler {
  border-color: transparent;
}

button:focus {
  outline-color: transparent;
  background-color: transparent;
}
.navbar-toggler {
  background-color: transparent;
  border-color: transparent;
}
button: hover {
  background-color: #2b2b2b;
}

.navbar-toggler-icon i {
  font-size: 1.5em;
  padding-top: 0.1em;
  color: #2b2b2b;
  margin: auto;
}
